.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.product-container {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 80px;
}
.location {
  margin: 30px 0;
}
.products-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
