.product-container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding-top: 80px;
}
.location {
  margin: 30px 0;
}
.products-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.products-content__items {
  width: 360px;
  height: auto;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.products-content__items:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.products-content__items .product-image {
  width: 300px;
  height: 300px;
  margin: 30px 20px;
  object-fit: cover;
  object-position: unset;
}
.products-content__item {
  padding: 0 20px 10px;
  position: relative;
}
.product-title {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.product-price {
  text-align: center;
  color: rgb(241, 196, 62);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
.btn-cart {
  position: absolute;
  background: rgb(48, 47, 47);
  color: #fff;
  border: none;

  padding: 1px 2px;
  height: 50px;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.btn-cart .bx {
  margin-left: 5px;
}
