.product-container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
}
.location {
  margin: 30px 0;
}
.products-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-height: 460px;
}
