.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  padding: 50px 0;
}
.category-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.all-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--border);
  font-size: 16px;
}
.all-products a {
  color: var(--border);
}
.all-products:hover {
  opacity: 0.7;
}
.category-content__items {
  display: flex;
  gap: 30px;
  /* padding: 30px 0; */
}
.category-content__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.category-card {
  background: var(--background);
  height: auto;
  width: 300px;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 16px;
  margin-top: 30px;
}
.category-card__image {
  text-align: center;
  position: relative;
}
/* .category-card {
  margin-top: 30px;
} */
.category-card__column {
  display: flex;
}
.category-info {
  display: flex;
  flex-direction: column;
}

.category-card__column .category-card__image img {
  width: 120px;
  height: 120px;
}
.category-info .price-product__moonth {
  width: 100%;
}
.heart {
  position: absolute;
  right: 0;
  color: var(--text-secondary);
}

.category-card img {
  width: 188px;
  height: 250px;
  text-align: center;
}
.category-card h3 {
  font-weight: 400;
}
.price-product {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
}
.price-product__moonth {
  background: var(--border);
  padding: 4px 10px 4px 20px;
  border-radius: 5px;
  width: 70%;
  color: var(--background);
}
.cart-button {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-top: 60px;
}
.bxs-cart-add {
  border: 2px solid var(--border);
  padding: 4px 6px;
  border-radius: 5px;
  color: var(--border);
}
.cart-btn {
  padding: 10px 30px;
  border: 2px solid var(--border);
  border-radius: 5px;
  font-size: 16px;
  background: var(--border);
  text-transform: none;
}
.app-category__items {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.app-category__item {
  width: 494px;
  height: 276px;
  background: var(--background);
  border-radius: 8px;
}
.app-category__item:nth-child(2) {
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 10px;
}
.category-card__image img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}
.category-content__item .app-category__items .category-card .card-button {
  margin-top: 10px !important;
}
