.head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.head-content__items {
  width: 1006px;
  height: 380px;
  border-radius: 8px;
}
.head-content__items img {
  width: 1006px;
  height: 380px;
  object-fit: cover;
  border-radius: 8px;
}
.head-content__items:nth-child(2) {
  width: 300px;
  height: 380px;
  border: 2px solid var(--border);
  margin-left: 20px;
  padding: 20px 10px;
  text-align: center;
  background: var(--page);
}
.head-content__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.head-content__items:nth-child(2) img {
  width: 180px;
  height: 140px;
  object-fit: cover;
  margin: 30px 0;
}
.head-content__items .title {
  color: var(--text-primary);
  opacity: 1;
}
.head-content__items .title:hover {
  color: var(--border);
  opacity: 1;
}
.head-content__item .price {
  margin-top: 20px;
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 6px;
  order: 1;
  text-align: start;
}
.price-moonth {
  position: absolute;
  right: 10px;
  top: 20px;
  background: var(--border);
  padding: 4px 10px;
  border-radius: 8px;
}
.ant-statistic-content {
  color: var(--text-primary) !important;
}
