.content {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 0 150px;
  position: relative;
}
.content-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-items:nth-child(2) {
  position: absolute;
  right: 250px;
  bottom: 20px;
}
.search {
  right: 270px;
  position: absolute;
  top: 30px;
  width: 500px;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  display: none;
  transition: all 0.3s;
}
.search-active {
  display: block;
}

.navLink {
  font-size: 16px;
  font-weight: 300;
  padding: 0 40px;
}
.navLink .bx-chevron-down {
  font-weight: 300;
  font-size: 16px;
}
.active {
  color: yellow;
}
.bx {
  font-size: 28px;
  margin-right: 10px;
}

.cart {
  width: 500px;
  height: 90vh;
  padding: 20px 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  position: absolute;
  right: 0;
  z-index: 999;
  background: #fff;
  overflow: scroll;

  /* position: fixed; */
}

.cart-title {
  text-align: center;
  margin: 10px 0 20px 0;
}
.cart-content {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.cart-image__add {
  width: 100px;
  border-right: 0.5px solid rgb(164, 164, 164);
  padding: 5px;
}
.cart-content__title {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 10px;
}
.cart-price {
  font-size: 20px;
  color: rgb(207, 157, 17);
  margin-bottom: 20px;
  font-weight: 600;
}
.cart-content__count {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.cart-content__count button {
  font-size: 24px;
  padding: 5px;
  width: 40px;
  background: #fff;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cart-content__count button:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.count {
  margin: 0 20px;
  font-size: 22px;
}
.cart-content__count .bx {
  margin-left: 70px;
  cursor: pointer;
}

.show-cart {
  display: none;
}
.card-shop {
  display: flex;
  justify-content: center;
  position: relative;
}
.product-cart__length {
  font-size: 18px;
  position: absolute;
  top: 15px;
  right: 3px;
  background: rgb(241, 196, 62);
  border: 1px solid #fff;
  text-align: center;
  align-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.all-products__price {
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.all-product__price {
  font-weight: 800;
}

.check {
  width: 100%;
  height: 50px;
  background: rgb(241, 196, 62);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  color: #000;
}
