.content {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 0 50px;
}
.content-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLink {
  font-size: 16px;
  font-weight: 300;
  padding: 0 20px;
}
.active {
  color: yellow;
}
.bx {
  font-size: 28px;
  margin-right: 10px;
}

.cart {
  width: 500px;
  height: 90vh;
  padding: 20px 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  position: absolute;
  right: 0;
  z-index: 999;
  background: #fff;
  overflow: scroll;
  /* position: fixed; */
}

.cart-title {
  text-align: center;
  margin: 10px 0 20px 0;
}
.cart-content {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.cart-image__add {
  width: 100px;
  border-right: 0.5px solid rgb(164, 164, 164);
  padding: 5px;
}
.cart-content__title {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 10px;
}
.cart-price {
  font-size: 20px;
  color: rgb(207, 157, 17);
  margin-bottom: 20px;
  font-weight: 600;
}
.cart-content__count {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.cart-content__count button {
  font-size: 24px;
  padding: 5px;
  width: 40px;
  background: #fff;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cart-content__count button:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.count {
  margin: 0 20px;
  font-size: 22px;
}
.cart-content__count .bx {
  margin-left: 70px;
  cursor: pointer;
}

.show-cart {
  display: none;
}
.card-shop {
  display: flex;
  justify-content: center;
  position: relative;
}
.product-cart__length {
  font-size: 18px;
  position: absolute;
  top: -10px;
  right: 0;
}
