.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  position: relative;
}
.nav-container {
  background: var(--background);
  color: var(--text-primary);
  position: relative;
}
.bg {
  background: var(--border);
  color: var(--text-primary);
  height: 60px;
}

.content-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.content:nth-child(2) {
  height: auto;
  box-shadow: var(--text-secondary) 0px 0px 1px 0px;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all 1s;
}

.scroll-nav {
  color: #000 !important;
}
.content:nth-child(2).active {
  background: var(--border);
}
.content-items__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px;
}
.content-items__nav img {
  width: 50px;
}
.content-items__nav h2:nth-child(3) {
  border: 2px solid var(--text-primary);
  margin-left: 30px;
  padding: 10px 30px;
  border-radius: 8px;
}

.content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.content-item p:nth-child(1) {
  background: var(--background);
  color: var(--border);
  padding: 8px 30px;
  border-radius: 8px;
}
.content-item p:nth-child(2) {
  border: 2px solid var(--background);
  padding: 6px 20px;
  border-radius: 8px;
}
/*  */

.navLink {
  font-size: 16px;
  font-weight: 300;
  padding: 0 20px;
  color: var(--text-primary);
}
.brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-primary);
  padding: 12px 30px;
  margin-left: 20px;
  font-size: 22px;
  border-radius: 8px;
}
.brand-active {
  border: 2px solid #000;
}
.brand-name h4 {
  margin-left: 8px;
}
.navLink .bx-chevron-down {
  font-weight: 300;
  font-size: 16px;
}
.bx {
  font-size: 28px;
  margin-right: 10px;
  z-index: 999;
}
.svg .bx {
  font-size: 28px;
  color: var(--text-primary);
  margin-right: 10px;
}

.card-shop {
  display: flex;
  justify-content: center;
  position: relative;
}
.product-cart__length {
  font-size: 17px;
  position: absolute;
  bottom: 17px;
  right: -4px;
  background: var(--border);
  border: 1px solid var(--border);
  text-align: center;
  align-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
