@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 50px;
}
a {
  text-decoration: none;
  text-transform: none;
  color: black;
}
li {
  text-decoration: none;

  list-style: none;
}

.btn {
  border: 1px solid #000;
  font-size: 20px;
  color: #fff;
  background: rgb(18, 17, 17);
  text-transform: uppercase;
  text-align: center;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn-light {
  height: 60px;
  width: 120px;
  border: 1px solid rgb(120, 119, 119);
  font-size: 20px;
  color: #fff;
  background: rgb(120, 119, 119);
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin: 60px 0 20px 0;
  text-transform: uppercase;
}
.content-subTitle {
  text-align: center;
  font-size: 18px;
  opacity: 0.7;
  width: 800px;
  margin: auto;
}
