@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root {
  --background: #ffff;
  --text-primary: #000;
  --text-secondary: #111;
  --text: blue;
  --border: #ffb32f;
  --page: #efefef;
  --borderbg: rgb(126, 126, 126);
  --price: red;
  --bg-register: #ecf0f3;
  --boxshadow: rgb(38, 57, 77);
  --reg-bg: #ecf0f3;
  --reg-color: #a0a5a8;
  --reg-boxshadow: #f9f9f9;
  --reg-box: #d1d9e6;
  --search: #000;
}
[data-theme='dark'] {
  --background: rgb(44, 44, 44);
  --text-primary: #ffb32f;
  --text-secondary: #fff;
  --text: rgb(0, 0, 255);
  --border: #ffb32f;
  --page: #1e1e1e;
  --borderbg: rgb(232, 232, 232);
  --price: red;
  --bg-register: #ecf0f3;
  --boxshadow: rgb(168, 199, 233);
  --reg-bg: #2d2d2d;
  --reg-color: #ffb32f;
  --reg-boxshadow: #616161;
  --reg-box: #6b6b6b;
  --search: #ffb32f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-primary);
  background: (var(--background));
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 50px;
  background: var(--background);
}
a {
  text-decoration: none;
  text-transform: none;
  color: var(--text-primary);
}
li {
  text-decoration: none;

  list-style: none;
}

.btn {
  border: 1px solid var(--text-primary);
  font-size: 20px;
  color: var(--background);
  background: rgb(18, 17, 17);
  text-transform: uppercase;
  text-align: center;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn-light {
  height: 60px;
  width: 120px;
  border: 1px solid var(--page);
  font-size: 20px;
  color: var(--background);
  background: var(--page);
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
  box-shadow: var(--page) 0px 5px 15px;
}
.content-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin: 60px 0 20px 0;
  text-transform: uppercase;
}
.content-subTitle {
  text-align: center;
  font-size: 18px;
  opacity: 0.7;
  width: 800px;
  margin: auto;
}
.ant-divider .css-dev-only-do-not-override-1s3dcof .ant-divider-horizontal {
  background: #fff !important;
}
.ant-breadcrumb-link,
.ant-breadcrumb-separator {
  color: var(--border) !important;
}
.scroll-to-top {
  opacity: 0.7;
  transition: all 0.2s;
}
.scroll-to-top:hover {
  opacity: 1;
}
.scroll-to-top svg {
  width: 16px !important;
  height: 16px !important;
  transition: all 0.2s;
}
.scroll-to-top svg:hover {
  width: 18px !important;
  height: 20px !important;
}
