.products-content__items {
  width: 320px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: relative;
  border: 1px solid var(--border);
  background: var(--background);
  text-align: center;
}
.products-content__items:hover .prodcuts-settings {
  transform: translateY(-80px);
  z-index: 1;
}

.products-image {
  margin-top: 10px;
  object-fit: contain;
  position: relative;
}

.prodcuts-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  bottom: 40px;
  right: 70px;
  transition: all 0.4s ease 0.1s;
  z-index: -1;
}

.bg-heart {
  background: rgb(246, 215, 148);
  width: 40px;
  height: 40px;
  border: 1px solid rgb(246, 215, 148);
  border-radius: 50%;
  margin: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  transform: rotate(0deg);
  transition: all 0.3s;
}
.bg-heart:hover {
  background: var(--border);
  border: 1px solid var(--border);
  color: #fff;
  transform: rotate(360deg);
  transition: all 0.3s;
}
.prodcuts-settings .bx {
  margin: 0 !important;
  font-size: 20px;
}

.pro-heart {
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.pro-heart__add {
  color: #fff;
  cursor: pointer;
}

.products-content__items img {
  width: 300px;
  height: 240px;
  object-fit: contain;
}
.products-content__item {
  padding: 0 20px 10px;
  z-index: 9;
  background: var(--background);
}
.product-title {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-price {
  text-align: center;
  color: var(--border);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
