.catalog-container {
  background: #fff;
  width: 1044px;
  height: 700px;
  padding: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.catalog {
  width: 700px;
  height: 650px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.catalog-items {
  height: 100%;
}
